AppEjemplo/AppEjemplo/Web References/WsEjemploMedico/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://tempuri.org/DSMedicos.xsd" />
      <s:import schemaLocation="http://localhost:49947/WSEjemploPro/Service.asmx?schema=DSMedicos" namespace="http://tempuri.org/DSMedicos.xsd" />
      <s:element name="FnAgregarMedico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PmMatricula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PmNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PmApellido1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PmApellido2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PmEdad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnAgregarMedicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FnAgregarMedicoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnEliminarMedico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PmMatricula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnEliminarMedicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FnEliminarMedicoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnMostrarRegistros">
        <s:complexType />
      </s:element>
      <s:element name="FnMostrarRegistrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FnMostrarRegistrosResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/DSMedicos.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnMostrarRegistrosporEdad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PmEdad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnMostrarRegistrosporEdadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FnMostrarRegistrosporEdadResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/DSMedicos.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FnAgregarMedicoSoapIn">
    <wsdl:part name="parameters" element="tns:FnAgregarMedico" />
  </wsdl:message>
  <wsdl:message name="FnAgregarMedicoSoapOut">
    <wsdl:part name="parameters" element="tns:FnAgregarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="FnEliminarMedicoSoapIn">
    <wsdl:part name="parameters" element="tns:FnEliminarMedico" />
  </wsdl:message>
  <wsdl:message name="FnEliminarMedicoSoapOut">
    <wsdl:part name="parameters" element="tns:FnEliminarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="FnMostrarRegistrosSoapIn">
    <wsdl:part name="parameters" element="tns:FnMostrarRegistros" />
  </wsdl:message>
  <wsdl:message name="FnMostrarRegistrosSoapOut">
    <wsdl:part name="parameters" element="tns:FnMostrarRegistrosResponse" />
  </wsdl:message>
  <wsdl:message name="FnMostrarRegistrosporEdadSoapIn">
    <wsdl:part name="parameters" element="tns:FnMostrarRegistrosporEdad" />
  </wsdl:message>
  <wsdl:message name="FnMostrarRegistrosporEdadSoapOut">
    <wsdl:part name="parameters" element="tns:FnMostrarRegistrosporEdadResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="FnAgregarMedico">
      <wsdl:input message="tns:FnAgregarMedicoSoapIn" />
      <wsdl:output message="tns:FnAgregarMedicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FnEliminarMedico">
      <wsdl:input message="tns:FnEliminarMedicoSoapIn" />
      <wsdl:output message="tns:FnEliminarMedicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FnMostrarRegistros">
      <wsdl:input message="tns:FnMostrarRegistrosSoapIn" />
      <wsdl:output message="tns:FnMostrarRegistrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FnMostrarRegistrosporEdad">
      <wsdl:input message="tns:FnMostrarRegistrosporEdadSoapIn" />
      <wsdl:output message="tns:FnMostrarRegistrosporEdadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FnAgregarMedico">
      <soap:operation soapAction="http://tempuri.org/FnAgregarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnEliminarMedico">
      <soap:operation soapAction="http://tempuri.org/FnEliminarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnMostrarRegistros">
      <soap:operation soapAction="http://tempuri.org/FnMostrarRegistros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnMostrarRegistrosporEdad">
      <soap:operation soapAction="http://tempuri.org/FnMostrarRegistrosporEdad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FnAgregarMedico">
      <soap12:operation soapAction="http://tempuri.org/FnAgregarMedico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnEliminarMedico">
      <soap12:operation soapAction="http://tempuri.org/FnEliminarMedico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnMostrarRegistros">
      <soap12:operation soapAction="http://tempuri.org/FnMostrarRegistros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnMostrarRegistrosporEdad">
      <soap12:operation soapAction="http://tempuri.org/FnMostrarRegistrosporEdad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:49947/WSEjemploPro/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:49947/WSEjemploPro/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>